body {
    background-image: url("");
    background-color:rgb(85, 196, 120);
    background-size: cover;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
    color:white;
}
h1 {
  font-family: 'Modak', cursive;
  font-size: 6em;
  color: white;
}

.bars {
  width: 50%;
  padding: 2em;
}
